@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
body{
    height :auto;
    width: 1440px;
    background :rgb(236, 222, 225);
    display: flex;
    justify-content: center;
    align-items: center;


}
section{
    height:405px;
    width:691px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    box-shadow: 0px 10px 10px rgb(199, 190, 192);


}
div{
    height: 227px;
    width: 143px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:hsl(0, 0%, 100%);
}
#img{
    height: 143px;
    width: 130px;
    border-radius: 8px;
    margin:5px;
}
#text1{
    font-family: "Outfit", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    margin:5px;
    
    
}
#text2{

    font-family: "Outfit" , sans-serif;
    font-weight: 400;

    font-size: 7px;
    text-align: center;
    margin: 12px;
    

}